/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b,#1d4ed8);
    min-height:100vh;
}

/* Navbar */

.navbar{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(12px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
    color:white;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.navbar h2{
    font-size:28px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:17px;
    transition:.3s;
}

.navbar a:hover{
    color:#38bdf8;
}

/* Page */

.container{
    width:90%;
    margin:40px auto;
}

.container h1{
    text-align:center;
    color:white;
    font-size:40px;
    margin-bottom:35px;
}

/* Cards */

.card{
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(12px);
    color:white;

    width:280px;
    display:inline-block;

    margin:18px;
    padding:25px;

    border-radius:18px;

    border:1px solid rgba(255,255,255,.2);

    box-shadow:0 15px 35px rgba(0,0,0,.3);

    transition:.4s;
}

.card:hover{

    transform:translateY(-10px) scale(1.03);

    box-shadow:0 20px 40px rgba(59,130,246,.35);

}

.card h3{
    color:#38bdf8;
    margin-bottom:15px;
}

.card p{
    margin:10px 0;
    font-size:15px;
    color:#e2e8f0;
}

/* Button */

button{
    width:100%;
    margin-top:18px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:linear-gradient(90deg,#2563eb,#3b82f6);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:linear-gradient(90deg,#1d4ed8,#2563eb);
    transform:scale(1.05);
}

/* Responsive */

@media(max-width:768px){

.navbar{
    flex-direction:column;
    gap:15px;
    text-align:center;
}

.card{
    width:100%;
    margin:15px 0;
}

.container h1{
    font-size:32px;
}

}